




{% extends 'index.html '%}
{% block body %}
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!--<h2 class="active"> Sign In </h2>-->
    <!--<h2 class="inactive underlineHover">Sign Up </h2>-->

    <!-- Icon -->

<h1 style="text-decoration: underline">ADMIN HOME</h1>
    <!-- Login Form -->

<br>
    <a href="/addhr" class="ff" style="color:blue">Add HR</a>
    <br>
    <br>
    <a href="/edithr"style="color:blue">Edit Hr</a>
    <br>
    <br>
    <a href="/feedback"style="color:blue">Feedback</a>
<br>

    <!-- Remind Passowrd -->
    <!--<div id="formFooter">-->
      <!--<a class="underlineHover" href="#">Forgot Password?</a>-->
    <!--</div>-->

  </div>
</div>
</body>
{% endblock %}





























<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><a href="/addhr">Add HR</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/edithr">EDIT HR</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="feedback">VIEW FEEDBACK</a></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->


