{% extends 'index.html '%}
{% block body %}

<body>
<form action="/changeempphoto" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="642" border="1">


    <tr>
      <td>PHOTO</td>
      <td><label>
        <input type="file" name="file" required/>
      </label></td>
    </tr>


  </table>
  <label>
  <blockquote>
    <blockquote>
      <p align="">
        <input name="Submit" type="submit" value="Register" />
      </p>
    </blockquote>
  </blockquote>
  </label>
</form>
</body>

{%endblock%}
