{% extends 'index.html '%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="checksalary">
  <table width="244" border="1">
    <tr>
      <th colspan="2" scope="col"><label>Month
        <form method="post" action="/checksalary" >
          <select name="select" required>
            <option value="1">January</option>
        <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">Auguest</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        <input name="submit" type="submit" value="Search" />
</form>
      </label></th>
    </tr>
    <tr>
      <td width="99">Employee </td>
      <td>Salary</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>&nbsp;{{i[3]}} {{i[4]}} {{i[2]}}</td>
      <td>{{i[0]+i[1]}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{%endblock%}
